@model IEnumerable<Xhub.Models.Event>

@{
	ViewBag.Title = "My Events";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Events I'm Attending</h1>

<ul>
	@foreach (var eVent in Model)
	{
		<li>
			@eVent.EventName - @eVent.DateTime

			@if (User.Identity.IsAuthenticated)
			{
				if (eVent.IsCanceled)
				{
					<div class="canceled">Canceled</div>
				}
				
				// Pass event id to the controller
				<div>
					<a href="@Url.Action("Details", "Events", new {eventId = eVent.Id})">
						Details
					</a>
				</div>
			}
		</li>
	}
</ul>