@model IEnumerable<Xhub.Models.Event>

@{
	ViewBag.Title = "My Events";
}

<h1>Events I've Created</h1>

<ul>
	@foreach (var e in Model)
	{
		<li>
			@e.EventName - @e.DateTime - Location: @e.EventLocation
			<div>
				<a href="@Url.Action("Edit", "Events", new { id = e.Id })">Edit</a>
			</div>
		</li>
	}
</ul>